---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'NetBioMonitor - The cheapest monitoring solution',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Check it out',
        href: 'https://netbiomonitor.sneakybugs.com',
        target: '_blank',
        icon: 'tabler:rocket',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/index.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title"> Monitoring and analytics on a budget </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">NetBioMonitor</span>
      is an application availability and usage monitoring solution for labs who want to minimize cloud spend.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Server cost', amount: '$5/month' },
      { title: 'Monitored applications', amount: 'Unlimited' },
      { title: 'Agents', amount: 'Unlimited' },
      { title: 'Per application cost', amount: '$0' },
    ]}
  />

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with NetBioMonitor"
    subtitle="The cheapest way to monitor website availability from distributed locations."
    items={[
      {
        title: 'Check health from anywhere',
        description:
          "Check your application's health and reachability from distributed agents. Get notified when your applications are unreachable from an agent. Respond faster to availability incidents.",
        icon: 'tabler:heart-filled',
      },
      {
        title: 'Understand usage trends',
        description:
          'Gain insights into where your users are located. Websites supporting the previous user location system are supported out of the box. Your dashboards now require authentication, and no longer exposed to the public.',
        icon: 'tabler:map-pin-filled',
      },
      {
        title: 'Sign in with Google',
        description:
          'Safe and convenient integration with the institutional single sign on solution. Protecting the entire application under authentication without requiring users to manage more accounts.',
        icon: 'tabler:brand-google-filled',
      },
      {
        title: 'Peace of mind for 5$/month',
        description:
          'Rent the cheapest server and deploy. NetBioMonitor is designed to run with minimal resources, and utilizes very cheap cloud services. 100x cheaper than cloud provider alternatives. No per-application billing.',
        icon: 'tabler:currency-dollar',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Never miss an outage again."
    items={[
      {
        title: 'Know when and where your applications are experiencing outages',
      },
      {
        title: 'React quickly with error notifications',
      },
      {
        title: 'View historical outage data',
      },
    ]}
    image={{
      src: '~/assets/images/health-plot.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        View application availability from distributed locations
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Zero config support for applications using the existing user location analytics system',
      },
      {
        title: 'Dashboards can no longer be accessed without authentication',
      },
      {
        title: 'View historical usage analytics and location data',
      },
    ]}
    image={{
      src: '~/assets/images/user-location.png',
      alt: 'Picture of dashboard showing a map with location ticks of users accessing an application',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Uncover usage trends</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Receive notifications only for applications you are interested in',
      },
      {
        title: 'See websites you are subscribed to first',
      },
    ]}
    image={{
      src: '~/assets/images/notifications.png',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Cut through the noise, focus on what matters
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="docs"
    actions={[
      {
        variant: 'primary',
        text: 'Production system',
        href: 'https://netbiomonitor.sneakybugs.com',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'Source code',
        href: 'https://github.com/Software-Engineering-Project-BGU/NetBioMonitor',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'Requirements document',
        href: 'https://docs.google.com/document/d/1xHkynSPzamZsw6BylDVE_srAWQEL3h0m/edit',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'Design document',
        href: 'https://docs.google.com/document/d/1eArhMADEACUm0jQfo844GwjJ7RqaBJQbG5LVWsUCUus/edit',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'Testing design document',
        href: 'https://docs.google.com/document/d/19hUftSLigGL0TMWdhmZOB6Azg9grQHzP/edit',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'User manual',
        href: 'https://docs.google.com/document/d/1CndO_2qhljPQoySL8eNgbkeWB0DxaCANrecZ6YrmxbY/edit',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'Maintenance manual',
        href: 'https://docs.google.com/document/d/1wAjt265BXISTKg-x0rdj6dcQ1K7GSL1brvKpkJgkJFA/edit',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> Manuals and documents</Fragment>

    <Fragment slot="subtitle">
    Everything related to the development of NetBioMonitor
    </Fragment>
  </CallToAction>
</Layout>
